/* App.css */

.app {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}

.content {
  flex: 1;
  padding: 20px;
  padding-top: 56px; 
  margin-left: 250px;
  background-color: var(--background-color);
  color: var(--text-color);
}
