/* src/style/ContentArea.css */

.content-area {
  flex: 1;
  padding: 20px;
  padding-top: 64px; 
  margin-left: 250px;
  overflow-y: auto;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  background-color: var(--background-color);
  color: var(--text-color);
}

.content-title {
  text-align: center;
  margin-bottom: 20px;
}

.content-description,
.content-conclusion {
  text-align: left;
  max-width: 800px;
  margin: 0 auto 40px;
}

.content-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.examples-1 .example {
  width: 100%;
  background-color: var(--primary-bg-color);
}

.examples-2 .left-example {
  width: calc(50% - 10px);
  background-color: var(--secondary-bg-color);
}

.examples-2 .right-example {
  width: calc(50% - 10px);
  background-color: var(--tertiary-bg-color);
}

.example {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.example label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.example input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.example h2 {
  margin-top: 0;
}
